{% load filter %}

<!-- Calendar Heading -->
<div id="calendar_heading">
    <select name="select_month" id="select_month">
        {% for month in months %} 
            <option data-month_code="{{ forloop.counter }}" value="{{ month }}" {% if current_month == forloop.counter %} selected="selected" {% endif %}>{{ month }}</option>
        {% endfor %}
    </select>
    <select name="select_year" id="select_year">
        {% for year in years %}
            <option data-month_code="{{ year }}" value="{{ year }}" {% if current_year == year %} selected="selected" {% endif %}>{{ year }}</option>
        {% endfor %}
    </select>
</div>

<!-- Calendar Body -->
<div id="calendar_body">
    <ul class="weekdays">
        {% for weekday in weekdays %}
            <li>{{ weekday }}</li>
        {% endfor %}
    </ul>
    {% for row in calendar_data %}
    <ul class="days">
        {% for date in row %} 
            <li class="date_block {% if date.3 != 'current' %} noday {% endif %}">
                <div class="date {% if date.0 == current_day %}today{% endif %}" data-month="{{ date.1 }}" data-year="{{ date.2 }}" data-day="{{ date.0 }}" data-weekday="{{ forloop.counter0 }}">{{ date.0 }}</div>
                {% if events_data|get_item:date %} 
                    {% for event in events_data|get_item:date %} 
                        <div class="event" data-id="{{ event.0 }}" data-name="{{ event.1 }}">{{ event.1 }}</div>
                    {% endfor %} 
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
